<div class="footer">
	<div class="row">
		<div class="large-4 push-8 columns">
<!-- 			<a href="https://twitter.com/">
				<i class="fa fa-twitter right"></i>
			</a> -->
			<a href="mailto:jake0oo0dev@gmail.com">
				<i class="fa fa-envelope-o right"></i>
			</a>
			<a href="https://github.com/Jake0oo0">
				<i class="fa fa-github right"></i>
			</a>
		</div>
		<div class="large-8 pull-4 columns">
			© 2015 Jake0oo0, All Rights Reserved
		</div>
	</div>
</div>

<script src="/assets/js/vendor/jquery.js"></script>
<script src="/assets/js/foundation.min.js"></script>
<script>
	$(document).foundation();
</script>